@mixin btn {
  cursor: pointer;

  &--back,
  &--arrow {
    transition-duration: $animation-duration;
    fill: grey;

    &:hover {
      fill: greenyellow;
    }
  }

  &--back {
    margin-left: auto;
    padding: 15px;
    display: block;

    @media (min-width: $breakpoint-sm) {
      padding: 25px;
    }
  }

  &--arrow {
    padding: 10px;

    @media (min-width: $breakpoint-sm) {
      padding: 20px;
    }
  }
}

@mixin title {
  color: #555;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}
