@import "./variables";

.date-picker {
  & {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: auto;
    position: relative;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    user-select: none;
  }

  &__title {
    color: $text;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    padding: 1em 0 0;
    min-width: 200px;
  }

  &__title-selected-date {
    color: rgba($text, .75);
  }
}
