@import "../DatePicker/styles/animations";
@import "../DatePicker/styles/mixins";
@import "../DatePicker/styles/variables";

.month-view {
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include title();

    position: relative;
  }

  &__subtitle {
    text-align: center;
  }

  &__year {
    cursor: pointer;
    color: $border-lightgrey;
    display: inline-block;
    padding: .5em 1em;
    border-top: 1px solid $border-lightgrey;
  }

  &__btn {
    @include btn();

    &--arrow {
      display: block;
      flex: 0 0 auto;
    }
  }

  &__month-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__days-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 0 0 auto;
  }

  &__day-wrapper {
    width: calc(100% / 7);
    box-sizing: border-box;
  }

  &__day,
  &__data-wrapper {
    flex: 1 0 50%;
  }

  &__day {
    color: $text;
    background-color: $background-light;
    animation: scaleIn $animation-duration both;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    line-height: 3em;
    margin: 2px;
    border: 1px solid $border-lightgrey;
    border-radius: 4px;

    &--selected {
      font-weight: bold;
    }
  }

  &__title-date {
    animation: fadeIn $animation-duration both;
    border-bottom: 1px solid $border-light;
    color: $text-light;
    text-align: center;
    font-size: 1.5em;
    padding: 1em .5em .5em;
    margin: auto;
  }
}
