@import "../App/animations";
@import "../App/mixins";
@import "../App/variables";

.year-view {
  & {
    margin: auto;
  }

  &__month {
    animation: scaleIn $animation-duration both;
    cursor: pointer;
    user-select: none;
    font-size: 1.2em;
    color: #fff;
    flex-shrink: 0;
    text-align: center;
    line-height: 5em;
    border-radius: 4px;
    width: calc((100% - #{$grid-gap} * 3) / 3);
    margin: calc(#{$grid-gap} / 2);
    box-shadow: 0 0 0 0 #555555;

    @media (min-width: $breakpoint-sm) {
      width: calc((100% - #{$grid-gap} * 4) / 4);
    }
  }

  &__title {
    @include title();

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__btn {
    @include btn();
  }
}
